{% load static %}


<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Authentica - UNAB | Login</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <img class="img-responsive center-block" src="{% static 'img/CUBESOA1.png' %}" alt="">
                <hr>

            </div>
            <h2>Authentica - UNAB</h2>
            <form class="m-t" role="form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario" id="Username" name="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" id=="Password" name="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Ingresar</button>
            </form>
            <p class="m-t"> <small>Sitio Desarrollado Por ICINF &copy; 2017</small> </p>
            <a data-toggle="modal" data-target="#contraseñarecuperar" href="#">Recuperar Contraseña</a>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>


<!-- modal block -->

        <div class="modal fade" id="contraseñarecuperar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h1 class="text-center" id="titulo-proyecto">Registro de Usuario</h1>
            </div>
              <div class="modal-body">
                  <div class="form-group">
                      <label for="correo" class="control-label">Correo Electronico: </label>
                      <input type="text" id="correo" name="correo" class="form-control">
                  </div>
              </div>
              <div class="modal-footer">
              <button id="cambiar_clave" class="btn btn-primary btn-block"><i class="fa fa-check"></i> Confirmar</button>
              </div>
            </div>
          </div>
        </div>

<!-- end modal block -->

<script>

    $(document).ready(function(){

        $("#cambiar_clave").on("click",function(){
           
            //IMPLEMENTAR
            
        });
    
    });
    


</script>
